@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #97bf2a;
  --dark-color: #000;
  --light-color: #fff;
  /* --grayish-color: rgb(182, 177, 177); */
  --grayish-color: rgb(209, 204, 204);
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

button {
  padding: 0.5rem 1rem;
  border: 0;
  background-color: var(--primary-color);
}

button a {
  color: var(--light-color);
}
